.search-form {
  position: relative;
  margin: 0 20px 20px;
  background: #0e293f;
  border-radius: 10px;
}

.search-form__input,
.search-form__btn {
  border: none;
  outline: none;
  background: transparent;
}

.search-form__input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  padding-right: 50px;
  font-size: 20px;
  color: #ffffff;
  border: 2px solid #81bfde;
  border-radius: 10px;
}

.search-form__input:hover,
.search-form__input:focus {
  border: 2px solid #3389ff;
}

.search-form__input::placeholder {
  font-family: Arial, sans-serif;
  color: #ffffff55;
}

.search-form__btn {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search-form__btn:hover {
  opacity: 0.5;
}

.search-form__btn:before {
  content: "\1F816";
  font-size: 24px;
  color: #ffffff;
}
