body {
	background-color: #01111d;
	font: 16px/20px Arial, sans-serif;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
}

@media (max-height: 400px) {
	body {
		height: auto;
		margin-top: 20px;
	}
}
