.table {
  width: 100%;
  margin-bottom: 15px;
  color: var(--text);
}

.table a {
  color: var(--link);
}

.table a:visited {
  color: var(--link-visited);
}

.table a:hover {
  color: var(--link-hover);
}

.thead {
  color: var(--header);
  font-size: 18px;
}

.tbody tr td:first-child {
  width: 250px;
}

.tbody tr td:first-child a{
  display: block;
  width: 230px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.tbody tr td:not(:first-child) {
  text-align: right;
}
