.ul {
	list-style: none;
	display: flex;
	margin: auto;
	padding: 0;
	color: white;
	justify-content: center;
	align-items: center;
}

.li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	margin: 2px;
	border: 2px solid #81bfde;
	border-radius: 10px;
	cursor: pointer;
}

.li:hover {
	border: 2px solid #3389ff;
	background-color: #0e293f;
	transform: scale(1.1);
}

.li__active {
	border: 2px solid #3389ff;
	background-color: #0e293f;
}

.a {
	padding: 10px;
	color: inherit;
	text-decoration: none;
}

@media (max-width: 400px) {
	.li {
		width: 20px;
		height: 20px;
	}
}
